<div class="container">
  <div class="row">
    <div class="top-text col-xs-12">
      <div class="logo-top text-center">
        <%= image_tag("logo.png",:width => "250",:height => "60") %>
        <h3>英語を自分事に。</h3>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="text-center info col-xs-12">
      <h2><i class="fas fa-info-circle"></i>お知らせ</h2><br>
      <h4>2021年1月3日</h4>
      <h4>
        カレンダーにてタスク完了状況を確認できるようになりました。
      </h4><br>
      <h4>2020年12月31日</h4>
      <h4>スマートフォンからも快適にご使用いただけるよう対応いたしました。</h4><br>
    </div>
  </div>
  <div class="box7 row">
    <div class="text-center col-xs-12">
      <h2 class="top-text">ぐてリストとは <%= image_tag("about.png", size: "40x40") %></h2>
      <h4 class="top-text">
        日本語で入力されたタスクを自動翻訳によって英語で表示するサイトです。<br>
        作成したタスクは、重要度に応じて自動で色分けされます。<br>
        一見では英語版のみ表示されますが、<br>
        詳細&編集画面から日本語で入力された情報も見ることができます。<br>
        TOPページには、未完了タスクと本日の完了済タスクが表示されます。<br>
        完了済タスクページから過去のタスクを確認することができます。<br>
        他ユーザーのプロフィールを見ることができたり、<br>
        フォローすることができます。<br>
        タスク完了数に応じてランキングが表示されます。
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="box7 col-xs-12">
      <h2 class="text-center">タスク作成</h2>
      <h4 class="text-center">
        タスクを日本語で入力すると、自動で英語に翻訳されます。<br>
        タスク重要度を設定することができます。
      </h4>
      <div class="top_group desktop-ver col-xs-5">
        <div class="top2"></div>
      </div>
      <div class="col-xs-2"></div>
      <div class="top_group desktop-ver col-xs-5">
        <div class="top3"></div>
      </div>
    </div>
  </div>
  <div class="box7 row">
      <h2 class="text-center">タスク一覧</h2>
      <h4 class="text-center">
        トップ画面にタスク一覧が表示されます。<br>
        作成時に設定したタスク重要度によって自動で色分けされます。
      </h4><br>
      <div class="top_group col-xs-12">
        <div class="top1"></div>
      </div>
      <h4 class="text-center">
        タスク完了ボタンを押すと、完了済タスクへ移行します。<br>
        カレンダーから、過去のタスク完了状況を確認できます。
      </h4><br>
      <div class="top_group col-xs-12">
        <div class="top5"></div>
      </div>
  </div>
  <div class="box7 row">
    <div class="text-center col-xs-12">
      <h2>ランキング</h2>
      <h4>完了タスク数に応じてランキング順位が決まります。</h4>
        <div class="desktop-ver top4"></div>
    </div>
  </div>
  <div class="box7 row">
    <div class="text-center col-xs-12">
      <h2>お問い合わせ</h2>
      <h4 class="top-text">
        サイトの感想、気になった点、不具合、こんな機能があったらいいな等<br>
        何かございましたらお気軽にご連絡ください。
      </h4>
      <h2><i class="fas fa-envelope"></i>  gutelist@gmail.com </h2><br>
    </div><br>
  </div><br>
</div><br>

