<div class="container">
  <div class="row">
    <div class="top-text text-center col-xs-12">
      <div class="logo-top"><%= image_tag("logo.png") %></div>
      <h2 class="top-text">英語を自分事に。</h2>
      <h3 class="top-text">
          何年も英語に触れているのに苦手意識が抜けない、上達しない。<br>
          それは、英語を他人事にしているからではないでしょうか。<br>
          自分事であるタスク管理に英語を取り入れて、英語を身近なものにしていきませんか？
      </h3>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to new_user_registration_path, class: "btn btn-warning btn-lg btn-block" do %>
        <i class="fas fa-user-plus">新規登録</i>
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to new_user_session_path, class: "btn btn-info btn-lg btn-block" do %>
        <i class="fas fa-user-check">ログイン</i>
      <% end %>
    </div>
  </div><br>
  <div class="box7 row">
    <div class="text-center col-xs-12">
      <h1 class="top-text">ぐてリストとは？</h>
      <h4 class="top-text">
        日本語で入力されたタスクを自動翻訳によって英語で表示するサイトです。<br>
        作成したタスクは、重要度に応じて自動で色分けされます。<br>
        一見では英語版のみ表示されますが、詳細&編集画面から日本語で入力された情報も見ることができます。<br>
        TOPページには、未完了タスクと本日の完了済タスクが表示されます。<br>
        完了済タスクページから過去のタスクを確認することができます。<br>
        他ユーザーのプロフィールを見ることができたり、フォローすることができます。<br>
        タスク完了数に応じてランキングが表示されます。<br>
      </h4>
    </div>
  </div><br>
</div>
