<div class="container">
  <div class="row">
    <div class="top-text text-center col-xs-12">
      <div class="logo-top"><%= image_tag("logo.png") %></div>
      <h2 class="top-text">英語を自分事に</h2>
      <h3 class="top-text">
          何年も英語に触れているのに苦手意識が抜けない、上達しない。<br>
          それは、英語を他人事にしているからではないでしょうか。<br>
          自分事であるタスク管理に英語を取り入れて、英語を身近なものにしていきませんか？
      </h3>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to new_user_registration_path, class: "btn btn-warning btn-lg btn-block" do%>
        <i class="fas fa-user-plus">新規登録</i>
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to new_user_session_path, class: "btn btn-info btn-lg btn-block" do %>
        <i class="fas fa-user-check">ログイン</i>
      <% end %>
    </div>
  </div><br>
  <div class="row">
    <div class="box7 col-xs-12">
      <h2 class="text-center">タスク作成</h2><br>
      <h4 class="text-center">
        タスクを日本語で入力すると、自動で英語に翻訳されます。<br>
        タスク重要度を設定することができます。
      </h4>
      <div class="top_group col-xs-5">
        <div class="top2"></div>
      </div>
      <div class="col-xs-2"></div>
      <div class="top_group col-xs-5">
        <div class="top3"></div>
      </div>
    </div>
  </div><br>
  <div class="box7 row">
      <h2 class="text-center">タスク一覧</h2><br>
      <h4 class="text-center">
        トップ画面にタスク一覧が表示されます。<br>
        作成時に設定したタスク重要度によって自動で色分けされます。<br>
        タスク完了ボタンを押すと、完了済タスクへ移行します。
      </h4>
    <div class="top_group col-xs-12">
      <div class="top1"></div>
    </div>
  </div>
</div>
