<div class="container">
	<div class="row">
		<div class="main_group col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" style="width:25%"><h2>ランキング</h2></th>
						<th style="width:10%"></th>
						<th style="width:55%"></th>
						<th style="width:10%"></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td></td>
						<td>
							<%= link_to user_path(user.id) do %>
								<%= attachment_image_tag(user, :image, :fill, 50, 50) %>
							<% end %>
						</td>
						<td class="user_name">
							<%= link_to user_path(user.id) do %>
								<i class="fas fa-user"></i>
								<%= user.name %>
							<% end %><br>
						</td>
						<td>
							<div>
								<% if current_user.following?(user) %>
								  <label>フォロー中</label>
								<% end %>
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>