/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Sniglet','Kosugi Maru', cursive;
}

.logo {
  margin-top : 5px;
  padding: 5px;
  border-radius:  3px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}

.header_button {
  border-radius:  3px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}

h2 {
  text-shadow : 2px 2px 1px rgba(0,0,0,0.2);
}
a:link {
  color: #1782a6;
}

a:visited {
  color: #1782a6;
}

header {
  background-color: #ffa600;
}

footer {
  background-color: #ffa600;
}

.main_group {
  padding: 15px;
  border-radius:  7px;
  border: 5px ridge #31A9EE;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}

.attachment {
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}

.main_task {
  font-size: 20px;
  color: white;
}

.task {
  border-radius:  5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
  margin: 10px;
  padding: 5px;
}

.star {
  color: #ff8000;
  font-size: 20px;
}

.form-contents {
  margin : 50px;
}

.tasks {
  margin: 30px;
}

.d2 {
  background-color: #c93a40;
  opacity : 0.95;
  color: white;
}

.d1 {
  background-color: #00afcc;
  color: white;
}

.d {
  background-color: #2d9b41;
  opacity : 0.95;
  color: white;
}
.ribbon16-wrapper {
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 10px 0;
  width: 300px;
  background: #f1f1f1;
  box-sizing: border-box;
  }

.ribbon16 {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 40px;
  text-align: center;
  color: white;
  font-size: 13px;
  background: #ffa600;
  border-radius: 2px 0 0 0;
  }

.ribbon16:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px #d07676;
  border-right: solid 5px transparent;
}

.ribbon16:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #ffa600;
}

.task_table {
  opacity: 0.7;
  font-size: 120%;
}

footer {
  background-color: #1782a6;
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 70px;
   width: 100%;
   border-top: 10px solid #ffa600;
   margin-top: 20px;
}

.top1{
  background-image: image-url("top1.png");
  width: auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.top2{
  background-image: image-url("top3.png");
  width: auto;
  height: 530px;
  background-size: cover;
  background-position: center;
}

.top3{
  background-image: image-url("top2.png");
  width: auto;
  height: 500px;
  margin-bottom: 20px ;
  padding-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.top4 {
  background-image: image-url("ranking.png");
  width: auto;
  height: 425px;
  margin-bottom: 20px ;
  padding-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.top_group {
  margin: 40px 0;
  border-radius:  10px;
  border: 5px ridge #31A9EE;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}

.top-text {
  line-height: 300%;
}

.logo-top {
  size: 90%;
  margin-top: 40px;
}

.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #ffa600;/*左線*/
    border-right: double 7px #ffa600;/*右線*/
}
.box7 p {
    margin: 0;
    padding: 0;
}

.new_box {
  height: 35px;
  width: auto ;
  border-radius:  10px;
  margin: 20px;
}

.mail {
  color: white;
}

.blank {
 padding: 25px;
}

 .responsive-navbar {
  margin: 0px;
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width:993px) {
  .create-task-responsive {
    display: none;
  }
}

@media screen and (min-width:769px) {
   .responsive-navbar {
    display: none;
  }
}

@media screen and (max-width:992px) {
  footer {
    display: none;
  }

  .text_area {
    margin: auto;

  }

  .create-task {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .task {
  border-radius:  5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
  margin: 7px 0;
  padding: 0px;
  }

  .main_task {
  font-size: 23px;
  color: white;
  padding: 0px;
  }

  .main_group {
  padding: 5px;
  border-radius:  7px;
  border: none;
  box-shadow: none;
  }

  .task-group {
    padding: 0;
    margin: 0;
  }

  .completed-task {
    size: 60%;
  }

  .navbar {
    display: none;
  }
}

