/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD:app/assets/stylesheets/application.css

a:link {
  color: #009073;
}

a:visited {
  color: #006080;
}
=======
@import "bootstrap-sprockets";
@import "bootstrap";
>>>>>>> 980e07fcf318aa3f03b4aaf8445e3bab00a67a97:app/assets/stylesheets/application.scss

.attachment {
  border-radius: 50%;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.tasks {
  margin: 30px;
}

.passive_task2 {
  background-color: #ff6347;
  color: white;
}

.passive_task1 {
  background-color: #1e90ff;
  color: white;
}

.passive_task {
  background-color: #66cdaa;
  color: white;
}

.active_task2 {
  background-color: #b22222;
  color: white;
}

.active_task1 {
  background-color: #00ced1;
  color: white;
}

.active_tasks {
  background-color: #32cd32;
  color: white;
}
